
html {
  padding: 0;
  margin: 0;
}
footer .dark{
  padding: 1vw;
  position: relative;
  bottom: 0;
  left: 0;
  background-color: rgb(20, 15, 36);
}

footer.light{
  background-color: rgb(63, 54, 95);
}

.logoDiv {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoDiv > img {
  width: 5vw;
  height: 5vw;
}
.logoDiv > h1 {
  color: rgb(128, 132, 154);
  margin-left: 1.5vw;
  font-size: 2.6vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
