* {
    outline: 1px red solid;
}
html {
    padding: 0;
    margin: 0;
}
.navBar {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgb(20,15,36);
}
.leftNav {
    text-align: center;
    float: left;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftNav > img {
    width: 5vw;
    height: 5vw;
}
.leftNav > h1 {
    color: rgb(128,132,154);
    margin-left: 1.5vw;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.middleNav {
    float: left;
    width: 50vw;
    height: 8.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchInput {
    padding: 0.5vw;
    padding-left: 1.5vw;
    width: 30vw;
    border-radius: 90px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(38,32,62);
    color: rgb(61,53,87);
    border: none;
}
.rightNav {
    float: right;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileIcon {
    color: rgb(153,159,237);
}