.mainDiv {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}



.container {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 1000px;
    margin: auto;
    gap: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #171224;
    height: 150px;
}

.image {
    border: 1px solid white;
    margin: 10px;
    max-width: 300px;
    border-radius: 5px;
    max-height: 150px;
}

.contFlex {
    display: flex;
    flex-direction: column;
    width: 2000px;
    margin-inline: auto;
}

.textDiv {
    gap: 10px;
    display: flex;
    flex-direction: row;
    color: #9EA3BC;
}
.nameAndDescDiv{
    min-width: 55%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    text-align: left;
}


.buttons {
    display: flex;
    flex-direction: row;
    width: 1px;
    margin-inline: auto;
    gap: 15px;
    margin-bottom: 50px;
}

.buttonsDiv {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.moreButton {
    width: 65px;
    height: 30px;
    background-color: #41345E;
    border-radius: 5px;
    color: #9EA3BC;
}

.five-pointed-star {
    margin-left: 30px;
    width: 30px;
    height: 30px;
}

.five-pointed-star {
    --star-color: orange;
    margin: 1em auto;
    font-size: 1em;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(35deg);

}

.five-pointed-star:before {
    border-bottom: 0.8em solid var(--star-color);
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.45em;
    left: -0.65em;
    display: block;
    content: "";
    transform: rotate(-35deg);
}

.five-pointed-star:after {
    position: absolute;
    display: block;
    top: 0.03em;
    left: -1.05em;
    width: 0;
    height: 0;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(-70deg);
    content: "";
}