/* * {
  outline: 1px solid red;
} */
.mainDiv {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  position: relative;
  margin-bottom: 1vw;
}
.contFlex {
  width: 100%;
  /* overflow: hidden; */
  position: relative;
  
}
.contFlex > a {
  position: relative;
  width: 90%;
  margin: auto;

}



.gameDiv {
  box-shadow: rgba(12, 4, 54, 0.892) 0px 2px 4px,
    rgba(156, 73, 156, 0.511) 0px 6px 15px -3px,
    rgba(80, 60, 122, 0.784) 0px -3px 0px inset;
  background: var(--games_div);
  transition: all 0.2s ease-in-out;
  margin: auto;
  position: relative;
  width: 100%;
  padding: 1vw;
  border-radius: 15px;
  max-width: 950px;
  /* max-height: 200px; */
  margin-bottom: 1vw;
  transition: all 0.2s ease-in-out;
}

.gameDiv:hover{
  transform: scale(1.05);
  box-shadow: rgba(113, 12, 156, 0.892) 0px 2px 4px,
    rgba(233, 77, 217, 0.642) 0px 6px 15px -3px,
    rgba(255, 75, 237, 0.773) 0px -3px 0px inset;
}

.gameGrid {
  display: grid;
  grid-template-columns: 0.7fr 1.3fr 20px;
  gap: 0px 5%;
  grid-auto-flow: row;
  grid-template-areas: ". . .";
}
.gameGridItem {
  position: relative;
  width: 100%;
}
.image {
  border-radius: 10px;
  aspect-ratio: 2.15 / 1;
  max-width: 105%; /* Add this to limit the width to 70% of the container */
}
.gameTextGridItem {
  position: relative;
  text-align: left;
  min-width: 0;
}
.gameTextDiv > h2 {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  color: var(--more_text);
  text-overflow: ellipsis;
}
.gameDescription > p {
  width: 90%;
}


/* .container {
  display: flex;
  flex-direction: row;

  /* box-shadow: rgba(74, 10, 137, 0.378) 0px 13px 27px -5px, rgba(94, 0, 95, 0.559) 0px 8px 16px -8px;
  box-shadow: rgba(12, 4, 54, 0.892) 0px 2px 4px,
    rgba(156, 73, 156, 0.305) 0px 6px 15px -3px,
    rgba(80, 60, 122, 0.689) 0px -3px 0px inset;
  width: 100%;
  margin: auto;
  gap: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  background: var(--games_div);
  height: 150px;
  transition: all 0.2s ease-in-out;
}
.container:hover {
  transform: scale(1.05);
}
.image {
  aspect-ratio: 16 / 9;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin: 10px;
  width: 20vw;
  height: 10vw;
  border-radius: 5px;
  max-height: 130px;
}

.contFlex {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-inline: auto;
}

.textDiv {
  gap: 10px;
  display: flex;
  flex-direction: row;
  color: var(--game_div_top_text);
}
.textDiv h2 {
  width: 70% !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 20px !important;
}
.nameAndDescDiv {
  height: 80%;
  width: 100%;
  overflow: hidden;
  min-width: 55%;
  display: flex;
  flex-direction: column;
  margin: 0px;
  text-align: left;
}
.description {
  width: 70%;
  height: 150px;
}
*/
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  gap: 15px;
}

.buttons button {
  height: 50px;
  background: var(--bttn);
}
.buttons .activeIndex {
  background: var(--bttn_active);
}
.buttons button:nth-child(n + 16) {
  display: none;
}

.activeIndex:focus {
  outline: none;
}
.buttonsDiv {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  right: 1vw;
  top: 1vw;
}
.starButton {
  background-color: transparent;
}
.starButton:hover {
  border: none !important;
  outline: none;
}
.starButton:focus {
  border: none !important;
  outline: none;
}
/*
.moreButton {
  width: 65px;
  height: 30px;
  background: var(--games_more);
  border-radius: 5px;
  color: var(--more_text);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.moreButton:hover {
  transform: scale(1.1);
  color: var(--more_text_hover);
  background: var(--more_hover);
} */
.five-pointed-star {
  top: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  --star-color: orange;
  margin: 1em auto;
  font-size: 1em;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(35deg);
}

.five-pointed-star:before {
  border-bottom: 0.8em solid var(--star-color);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}

.five-pointed-star:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}
/* .nameAndDescDiv {
  min-width: 55%;
  display: flex;
  flex-direction: column;
  margin: 0px;
  text-align: left;
}
.textDiv h2 {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
}
.description {
  margin-bottom: 50px;
} */

@media screen and (max-width: 1350px) {
  .gameGrid {
    padding: 1vw;
    grid-template-columns: 1fr;
    grid-template-rows: 0.9fr 1.1fr;
    gap: 0px 5%;
    grid-auto-flow: row;
    grid-template-areas:
      "."
      ".";
  }
  .image {
    max-width: 100%;
  }
}
