/* @import url("/src/index.css");

body{
 background-color: var(--body_background);
} */


.profileDiv {
  background: var(--profile_bkg);
  border-radius: 10px;
  margin: auto;
  padding: 1vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding-bottom: 3vw;
  width: 80%;
}
.profileName {
  border-radius: 5px;
  background: var(--progile_user);
  margin: auto;
  margin-top: 2vw;
  padding: 0.1vw;
  width: 90%;
}
.profileName > h1 {
  color: var(--profile_user_text);
  font-weight: 350;
  margin-left: 4vw;
  text-align: left;
  font-size: 4vw;
}
.profileContainer {
  display: flex;
  margin: auto;
  width: 90%;
  color: var(--profile_user_text);
}
.settingsDiv {
  margin-top: 2vw;
  width: 110%;
}
.settingsDiv > h3 {
  color: var(--setting_txt);
  font-weight: 400;
  font-size: 2.25vw;
  margin-bottom: 0;
  text-align: left;
  margin-left: 1vw;
}
.settingsGrid {
  border-radius: 5px;
  background: var(--setting_div);
}
.settingsHeader > h3 {
  font-size: 1.5vw;
  margin: 0;
  padding: 0;
  padding-top: 1vw;
}
.settingsCard {
  padding-left: 2vw;
  padding-bottom: 1vw;
  text-align: left;
}
.settingsCard > label {
  font-size: 1.5vw;
}
.settingsCard > h5 {
  font-size: 1vw;
}
.profileDiv input[type="checkbox"] {
  margin-top: auto;
  margin-bottom: auto;
  width: 1.5vw;
  height: 1.5vw;
}
.profileDiv input[type="password"] {
  width: 95%;
  border-radius: 5px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background: var(--setting_input);
  border: none;
  color: var(--setting_txt_input);
  font-size: 1.5vw;
}
.profileDiv input[type="submit"] {
  width: 50%;
  border-radius: 5px;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: var(--setting_change);
  border: none;
  color: rgb(198, 190, 245);
  font-size: 1.5vw;
}
.profileDiv input[type="submit"]:hover {
  background-color: rgb(31, 24, 70);
}
.profileDiv input[type="button"] {
  cursor: pointer;
  width: 50%;
  border-radius: 5px;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: rgb(249, 139, 2);
  border: none;
  color: rgb(31, 24, 70);
  font-size: 1.5vw;
}
.profileDiv input[type="button"]:hover {
  background-color: rgb(185, 80, 19);
}

.favoritesDiv {
  position: relative;
  margin-left: 5%;
  margin-top: 1vw !important;
  width: 38vw !important;
  background: transparent !important;
}
.favoritesDiv > h3 {
  color: var(--settings_faves);
  font-weight: 400;
  font-size: 2.25vw;
  margin-bottom: 0;
  text-align: left;
  margin-left: 1vw;
}
.contFlex {
  width: 100% !important;
}
.favoritesGrid {
  padding-top: 0.5vw;
  padding-bottom: 0.1vw;
  position: relative;
  width: 40vw;
  background-color: var(--setting_div);
  border-radius: 5px;
}
.favoritesCard {
  display: flex;
  padding: 1.5vw;
  background: var(--settings_fave_div);
  border-radius: 5px;
}
.favoritesCard > img {
  border-radius: 10px;
  width: 12.5vw;
  height: 7.5vw;
}
.favoritesText {
  text-align: left;
  display: block;
}
.textDiv > h2 {
  width: 12vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  margin-bottom: 0.5vw;
  font-size: 1.5vw;
}
.favoritesText > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3vw;
  width: 17.5vw;
  margin: 0;
  margin-left: 1vw;
  font-size: 1.1vw;
}
