.default-container {
  width: 19.531vw;
  background: var(--sidebar);
  padding: 20px;
  float: left;
  position: fixed;
  height: 100%;
  transition: all 0.25s;
  z-index: 99;
}

.default-container ul {
  list-style: none;
  padding: 0;
}

.default-container .link {
  margin-bottom: 30px;
}

.default-container a, .randomBtn {
  font-size: 1.5em; /* Adjust the font size to a common value in 'em' units */
  text-decoration: none;
  color: var(--sidebar_text);
  display: block;
  padding: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
  background: var(--sidebar_a_prehover);
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}

.default-container a:hover, .default-container > ul > .randomBtn:hover {
  background: var(--sidebar_a_hover);
  color: var(--sidebar_text_hover);
  transform: scale(1.05);
}

.default-container > ul > .randomBtn {
  height: 50px;
  width: 100%;
  margin-bottom: 35px;
}


.coolbtn {
  z-index: 9;
  display: flex;
  margin-top: 2%;
  margin-left: 1%;
  float: left;
  background: var(--sidebar_bttn);
  position: fixed;
}

.coolbtn.move-right {
  z-index: 9999;
  transform: translateX(21vw);
  transition: transform 0.3s ease;
}
@media screen and (max-width: 750px) {
  .default-container {
    width: 100vw;
  }
  .default-container ul {
    padding-top: 5vw;
  }
  .default-container a {
    font-size: 5vw;
  }
  .randomBtn {
    font-size: 5vw;
    padding-bottom: 2vw;
  }
  .coolbtn {
    z-index: 999;
    float: none;
  }
  .coolbtn.move-right {
    transform: translateX(90vw);
    transition: transform 0.3s ease;
  }
}
