body {
  position: relative;
  width: 100%;
}
.singleGameDiv {
  background-color: var(--body_background);
  width: 100%;
}
.gameTopDiv {
  display: inline-flex;
  width: 100%;
  margin-bottom: 5vw;
}
.leftGameDiv {
  padding-left: 10vw;
  /* background-color: rgba(250, 0, 0, 0.5); */
  width: 30vw;
}
.leftGameDiv * {
  margin: 0;
  padding: 0;
}
.gameTitle {
  color: rgb(250, 250, 250);
  font-weight: 350;
  text-align: left;
  font-size: 4vw;
}
.gamePrice {
  padding-top: 0.5vw;
  margin-bottom: 2vw;
  color: rgb(250, 250, 250);
  text-align: left;
  font-size: 1.5vw;
}
.gameInfo {
  padding-top: 0.15vw;
  color: rgb(250, 250, 250);
  font-weight: 500;
  text-align: left;
  font-size: 1.2vw;
}
.genreList {
    margin-top: 1vw;
}
.smallGameInfo {
    font-weight: 200;
}
.rightGameDiv {
  /* background-color: rgba(250, 250, 0, 0.5); */
  width: 58vw;
}
.gameImage {
    padding: 0;
  background-color: black;
  margin: 0 auto 0 auto;
  width: 50vw;
}
.gameDescription {
  margin: auto;
  text-align: left;
  width: 50vw;
  color: rgb(250, 250, 250);
  font-size: 1.2vw;
}
.bottomGameDiv {
  /* background-color: rgba(0, 250, 250, 0.5); */
  width: 98vw;
  padding-bottom: 3vw;
}
.bottomGameDiv > h3 {
  color: rgb(250, 250, 250);
  font-size: 2vw;
}
.bottomGameDiv > table {
  color: rgb(250, 250, 250);
  text-align: left;
  margin: auto;
}
.bottomGameDiv > table td {
  font-size: 1.25vw;
  padding: 2vw;
  max-width: 45vw;
}

.gameFavBtn {
  margin-top: 5vw;
  padding: 0px;
  padding-inline: 7px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  background-color: #41345e;
  margin-bottom: 30px;
}
.gameFavBtn p {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 5px;
}
.gameFavBtn div {
  align-self: center;
  margin-left: 10px;
}
.favesBtnAndUnder {
  margin-left: 70px;
}
.stars {
  margin-top: 20px;
}
.star {
  background-color: black;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  display: inline-block;
  height: 30px;
  width: 30px;
  z-index: 1;
  transition: all ease-in-out 0.2s;
}
.star.active {
  background-color: goldenrod;
  z-index: 1;
}
.star.animate {
  transform: scale(1.2);
}
