
body {
  text-align: center;
  margin: 0;
  padding: 0;
}
.appContainer {
  margin-left: 50vh;
}
.slideWrapper {
  margin: auto;
  margin-top: 3vw;
  width: 60vw;
  height: 35vw;
}
.favoriteGrid {
  margin: auto;
  width: 60vw;
  height: 15vw;
  margin-bottom: 5vw;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 3%; 
  grid-template-areas: 
    ". . ."; 
}
.favoriteCard {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.favoriteStar {
  position: absolute;
  color: rgb(255, 231, 154);
  font-size: 2vw;
  top: 1vw;
  right: 1vw;
}
.favoriteStar:hover {
  color: rgb(255, 195, 0);
}