.appContainer {
  margin-left: 19.531vw;
}
.slideWrapper {
  margin-inline: auto;
  margin-top: 3vw;
  width: 60vw;
  height: 35vw;
}
.favoriteGrid {
  margin: auto;
  width: 60vw;
  height: 18vw;
  margin-bottom: 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 3%;
  grid-template-areas: ". .";
}
.favoriteCard {
  height: 75%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease-in-out;
}



.par_pop{

  font-size: 2.3vw;
  font-weight: 100;
margin-left: -35vw;
margin-bottom: -2vw;

}


.favoriteCard:hover {
  transform: scale(1.05);
  box-shadow: rgba(113, 12, 156, 0.892) 0px 2px 4px,
    rgba(233, 77, 217, 0.642) 0px 6px 15px -3px,
    rgba(255, 75, 237, 0.773) 0px -3px 0px inset;
}
.favoriteStar {
  position: absolute;
  color: var(--starfave);
  top: 1vw;
  right: 1vw;
}
.favoriteStar:hover {
  color: var(--starfave_hover);
}

@media screen and (max-width: 750px) {
  .appMenu {
    display: none;
  }
  .appContainer {
    margin-left: 0;
  }
  .slideWrapper {
    width: 80vw;
  }
  .favoriteGrid {
    width: 60vw;
    height: 60vw;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 5%;
    grid-auto-flow: row;
    grid-template-areas:
      "."
      ".";
  }
  .favoriteCard {
    height: 90%;
  }
}
